.logoEvent{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}
.logoEvent:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.event-container {
    margin-top: 10px;
    margin-bottom: 30px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.image-30 {
    margin-top: 5%;
    max-width: 30%;
    max-height: 30%;
}

.image-half {
    margin-top: 2%;
    max-width: 47.5%;
    max-height: 47.5%;
}

.event-paragraph {
    float: left;
    text-align: justify;
}

/* Media queries */
@media screen and (max-width: 802px) {
     .event-paragraph {
        max-width: 100%;
        max-height: 15%;
        float: none;
        margin-bottom: 5%;
    }

    .left{
        float: none;
    }

    .right{
        float: none;
    }

    .image-half {
        margin-left: auto;
        margin-right: auto;
        max-width: 75%;
        max-height: 40%;
    }

    .image-30 {
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        max-height: 40%;
    }
    
    .logoEvent:hover{
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none;
    }

}