.tile {
  background-color: #ef9175;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  margin: 20px 0 20px 0;

  h3 {
    font-family: "Bebas neue", sans-serif;
    font-size: 2em;
  }

  .text {
    padding: 30px 20px;
  }

  &:hover {
    background-color: #ffb16f;
  }

  .image {
    flex-shrink: 0;
    width: 150px;
    background-size: cover;
    background-position: 50% 50%;
  }

  .image-std {
    width: 300px;
    flex-shrink: 0;
  }

  @media only screen and (max-width: 767px) {
    flex-direction: column;

    .image-std {
      width: 100%;
    }
  }
}
