.tile {
  background-color: #EF9175;
  color: #ffffff;
  display: flex;
  justify-content: stretch;
  margin: 20px 0 20px 0;

  h3 {
    font-family: "Bebas neue", sans-serif;
    font-size: 2em;
  }
  
  .text {
    padding: 10px;
  }

  &:hover {
    background-color: #ffb16f;
  }
}

