section#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div.ribbon {
    height: 20px;
    width: 100%;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#54f0ff+0,00b485+37,d9ff1c+71,ff6721+100 */
    background: #54f0ff; /* Old browsers */
    background: -moz-linear-gradient(left, #54f0ff 0%, #00b485 37%, #d9ff1c 71%, #ff6721 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      #54f0ff 0%,
      #00b485 37%,
      #d9ff1c 71%,
      #ff6721 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      #54f0ff 0%,
      #00b485 37%,
      #d9ff1c 71%,
      #ff6721 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54f0ff', endColorstr='#ff6721',GradientType=1 ); /* IE6-9 */
  }

  .section-container {
    max-width: 1200px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;

    div.first-part {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      p {
        padding: 5px 0;
      }

      div.right {
        div.logo {
          a {
            transition: 0.3s;
            opacity: 0.5;
            position: relative;

            div.constellation {
              width: 120px;
            }

            &:hover,
            &:hover:after {
              opacity: 1;
            }

            &:after {
              content: "feel nerdy ?";
              font-family: monospace;
              position: absolute;
              width: 120px;
              text-align: center;
              opacity: 0;
              font-size: 8px;
              transition-delay: 200ms;
              transition-duration: 200ms;
            }
          }
        }
      }
    }

    .sub-apps {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 15px 0 0 0;

      & > * {
        padding: 10px 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: rgb(211, 211, 211);
        }
      }
    }
  }

  div.second-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    flex-wrap: wrap;

    div.infos {
      color: #00b485;
      text-align: right;
      font-size: 8px;
      font-family: 'Courier New', Courier, monospace;
      padding: 0 20px 0 0;

      p {
        padding: 1px 0;
      }
    }

    div.infomaniak {
      svg {
        path.rectangle {
          fill: none;
          stroke: none;
        }

        g.logo {
          fill: #00b485;
        }
      }
    }
  }
}

@media only screen and (max-width: 765px) {
  section#footer {
    .section-container {
      div.first-part {
        flex-direction: column;
        align-items: center;

        div.right {
          margin-top: 30px;
          margin-bottom: 15px;

          div.infos {
            text-align: center;
            padding-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            p {
              padding: 0 7px;
            }
          }
        }
      }
    }
  }
}
