.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 0;

  & > span {
    padding: 0 0 0 10px;
  }

  & > div {
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
  }

  /* Hide the browser's default radio button */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* On mouse-over, add a grey background color */
  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  input:checked ~ .checkmark {
    background-color: #2196f3;
  }

  /* Show the indicator (dot/circle) when checked */
  input:checked ~ .checkmark:after,
  input:indeterminate ~ .checkmark:after {
    display: block;
  }

  input:indeterminate ~ .checkmark {
    background-color: #8ccbff;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
    border-radius: 20%;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }

    &:after {
      top: 7px;
      left: 7px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: white;
    }
  }
}
