---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Groupe de jeunes Waykup | événements">
  <div id="main">
    <!-- Featured Post -->
    <article class="post featured">
      <header class="major">
        <h1>Événements</h1>
      </header>
    </article>

    <section class="post">
      <h2>Rencontre de Jeunesse</h2>
      <p>
        <span class="image left"><img src="events/RJ23.jpeg" alt="" /></span>
        Le thème de cette année est "CHADASH" Esaïe 43:19 Toutes choses nouvelles.
        Avec le groupe de jeunes, nous avons à cœur de vivre la RJ 2023 ensemble.
        C’est pourquoi nous allons passer une bonne partie de ces temps en groupe,
        notamment pour les repas et les plénières. Il y aura aussi la possibilité
        de dormir à l'église de Bulle. Les trajets depuis l'église jusqu'à Oron seront
        aussi organisés. Si tu es motivé à nous rejoindre et que tu as envie de recevoir
        plus d'informations par rapport à cet événement, n'hésite pas à nous contacter.
        Pour vous inscrire, cliquez sur le bouton "RJ 2023".
      </p>
      <p>
        <a href="https://rencontredejeunesse.ch" target="_blank"
          >Site de la RJ</a
        >
      </p>
    </section>

    <section class="post">
      <h2>MoveUp Camp</h2>
      <p>
        Ce camp est dans la phase d'organisation. Dès que nous avons plus
        d'informations, nous vous tiendrons au courant.
      </p>
      <div class="row">
        <div class="col-6 col-12-small">
          <span class="image fit"
            ><img src="events/moveup_recto.jpg" alt="" /></span
          >
        </div>
        <div class="col-6 col-12-small">
          <span class="image fit"
            ><img src="events/moveup_verso.jpg" alt="" /></span
          >
        </div>
      </div>
    </section>
  </div>
</Layout>
