---
import LayoutIndex from "../layouts/LayoutIndex.astro";
---

<LayoutIndex title="Groupe de jeunes Waykup">
	<div id="main">
		<!-- Featured Post -->
		<article class="post featured">
			<h1>Waykup</h1>
			<div class="box">
				<p>Waykup est le groupe de jeunes (13-18 ans) du Bulle Network.</p>
			</div>
			<img src="layout/waykup.png" style="max-width: 200px;padding:20px" />
			<img
				src="layout/Bulle Network.png"
				style="max-width: 300px;padding:20px"
			/>
		</article>

		<section class="">
			<h1>Programme</h1>
			<p>Une soirée chaque samedi !</p>

			<span class="image fit"><img src="program/2023-1.jpeg" /></span>
		</section>

		<section class="">
			<h1>Nos soirées</h1>

			<div class="row">
				<div class="col-6 col-12-small">
					<h3>Waykup</h3>
					<p>
						Chaque 2e et 4e samedi du mois, nous avons nos soirées Waykup dites
						"officielles". Ces soirées commencent à 19h et se terminent à 22h
						avec un after. Durant ces soirées nous avons des débats captivants,
						des témoignages encourageants, des enseignements pertinents et
						surtout beaucoup de fun !
					</p>
				</div>
				<div class="col-6 col-12-small">
					<h3>Waykup Art</h3>
					<p>
						Waykup Art est un projet dont le but est de partager la bonne
						nouvelle au travers des arts (danse, théâtre, musique, etc). Ces
						soirées ont lieu tous les premiers samedis du mois de 20h à 22h.
					</p>
				</div>
				<div class="col-6 col-12-small">
					<h3>O2Vie</h3>
					<p>
						O2Vie est un projet d'implantation d'église que nous soutenons. Nous
						participons aux soirées jeux qui ont lieu à Châtel St-Denis chaque
						3e samedi du mois. Pour plus d'informations sur O2Vie, veuillez
						contacter la responsable du projet O2Vie : Fannie Blakaj.
					</p>
				</div>
			</div>
		</section>

		<section class="">
			<h1>Mission, vision, valeurs</h1>

			<div class="row">
				<div class="col-6 col-12-small">
					<h3>Notre mission</h3>
					<p>
						Nous manifestons la puissance libératrice de Jésus-Christ parmi la
						jeunesse et faisons croître Son royaume au-delà du canton de
						Fribourg.
					</p>
				</div>
				<div class="col-6 col-12-small">
					<h3>Vision</h3>
					<p>
						Nous formons des disciples en Christ porteurs de la Bonne Nouvelle
						et actifs dans leur église. Nous enseignons et équipons les jeunes
						pour qu'ils puissent affronter leur futur en toute sérénité en étant
						eux-même des influenceurs dans leur génération.
					</p>
				</div>
				<div class="col-6 col-12-small">
					<h3>Nos valeurs</h3>
					<p>L'encouragement, la foi, l'amitié</p>
				</div>
			</div>
		</section>
	</div>
</LayoutIndex>
