.button {
    background-color: #47467c;
    height: 35px;
    width: 130px;
    border-radius: 2px;
    transition: all 0.12s ease;
    text-align: center;
}

.button:hover {
    background-color: #5e5da3;
    border-color: #5e5da3;
}

.button a {
    display: flex;
    justify-content: center;
    align-items: center;
    color : #fffee8;
    font-size: large;
}

.button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    justify-content: space-around;
}