.header {
  //background-image: url("../../images/header-bg.jpg");
  //background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section-container {
  background-color: red;
  justify-content: center;
  align-items: center;
  flex: 1;
  display: flex;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#54f0ff+0,00b485+37,d9ff1c+71,ff6721+100 */
  background: #54f0ff; /* Old browsers */
  background: -moz-linear-gradient(left, #54f0ff 0%, #00b485 37%, #d9ff1c 71%, #ff6721 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #54f0ff 0%,
    #00b485 37%,
    #d9ff1c 71%,
    #ff6721 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #54f0ff 0%,
    #00b485 37%,
    #d9ff1c 71%,
    #ff6721 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54f0ff', endColorstr='#ff6721',GradientType=1 ); /* IE6-9 */

  .sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    flex: 1;
  }

  .left {
    padding: 10px;
    width: 200px;

    a {
      position: relative;

      &:hover > div::after {
        content: "â† retours au site principal";
      }

      & > div::after {
        position: absolute;
        bottom: 0px;
        right: 0px;
        font-size: 0.6em;
        color: #fff;
      }
    }
  }

  .right {
    font-size: 1em;
    font-family: "Lato";
    font-weight: 300;
    color: white;
    flex: 1;
    padding: 30px;
    text-align: right;
  }
}
