<div
  id="main-wrapper"
  class="index-welcome"
  style="background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,180,61,0.09425777146796221) 100%); position: relative;"
>
  <div class="container">
    <div class="row gtr-200">
      <div class="col-7 col-12-medium imp-medium">
        <div id="content">
          <section class="last">
            <h2>title</h2>
            <div>
              <p>...</p>
              <p>
                <img
                  src="/san 2022.jpg"
                  alt="team"
                  style="margin: auto; max-width: 100%"
                  width="500"
                />
              </p>
            </div>
          </section>
        </div>
      </div>
      <div class="col-5 col-12-medium imp-medium">
        <div id="sidebar">
          <img
            src="../images/soupe avec nous 2022.png"
            alt="team"
            style="margin: auto; max-width: 100%"
            width="380"
          />
        </div>
      </div>
    </div>
  </div>
</div>
