---
import Map from "../../components/Map";
---

<div id="main-wrapper">
  <div class="container">
    <div class="row gtr-200">
      <div class="col-12">
        <div id="content">
          <section class="last">
            <h2>
              Où nous trouver <img
                src="leaflet/marker-icon-2x.png"
                style="height: 40px"
              />
            </h2>
          </section>
        </div>
      </div>
    </div>
  </div>
  <Map client:only />
</div>
