.church {
  .network {
    background-color: #CB2321;
    color: #ffffff;

    .container {
      max-width: var(--container-width);
      margin: 0 auto !important;

      h2 {
        text-align: right;
        padding: 30px 0 10px 0;
      }

      p {
        text-align: justify;
        padding: 0 0 30px 0;
      }

    }
  }
}