.church {
  .vision {
    background: rgb(203, 35, 33);
    background: linear-gradient(166deg, rgba(203, 35, 33, 1) 0%, rgba(199, 48, 45, 1) 100%);

    color: #ffffff;

    .container {
      max-width: var(--container-width);
      margin: 0 auto !important;
      padding: 20px;

      h2 {
        text-align: right;
        padding: 30px 0 10px 0;
      }

      p {
        padding: 0 0 30px 0;
        font-size: 1.2em;
        line-height: 1.6em;
        color: #ffe4e4;
      }
    }
  }
}
