DIRECTUS_AUTH_PUBLICKEY=
DIRECTUS_AUTH_SECRETKEY=
# Must be the same as MYSQL_PASSWORD
DIRECTUS_DATABASE_PASSWORD=

# To use GC external storage
# See https://github.com/directus/api/issues/1715#issuecomment-581860743
DIRECTUS_STORAGE_ADAPTER:
DIRECTUS_STORAGE_ROOT:
DIRECTUS_STORAGE_ROOTURL:
DIRECTUS_STORAGE_THUMBROOT:
DIRECTUS_STORAGE_KEY:
DIRECTUS_STORAGE_SECRET:
DIRECTUS_STORAGE_REGION:
DIRECTUS_STORAGE_BUCKET:
DIRECTUS_STORAGE_ENDPOINT:
