.ficus-page {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 2em;
    word-break: break-word;
    padding: 1em 0em;
  }

  p {
    // padding-bottom: 1em;
    font-weight: 100;
  }

  .intro p {
    padding-bottom: 1em;
  }

  section.fixed {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  section.fixed h1,
  section.fixed h2 {
    color: white;
    font-size: 2.875rem;
    font-weight: 300;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  }

  section.scrolling {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    line-height: 1.6;
    padding: 4em 0;
    position: relative;
    z-index: 2;
  }
  section .container {
    margin: 0 auto;
    max-width: 768px;
    width: 90%;
  }
  section .container::after {
    clear: both;
    content: "";
    display: table;
  }

  section.fixed.f1 {
    background-image: url("../../images/ficus/background.jpg");
  }
  section.fixed.f1 .intro {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  section.fixed.f1 .intro p span {
    background: #fff;
    padding: 3px 10px;
  }
  section.fixed.f1 .intro p span.ficus {
    font-weight: 700;
  }

  section.fixed.f1 .logo {
    margin-bottom: 100px;
    width: 100px;
  }
  /*
 * design for each scrolling sectiona
 */
  section.scrolling.s2 img {
    max-width: 100%;
  }
  section.scrolling.s3 {
    background-color: #d52121;
    color: #fff;
  }

  .badge.google img {
    width: 208px;
    padding: 50px 0 0 0;
  }
  .badge.apple svg {
    width: 200px;
    padding: 0 0 30px 0;
  }
  .web {
    color: #020202;
    margin: 0 0 50px 0;
    background: white;
    padding: 7px 17px;
    border-radius: 5px;
  }
  .web:hover {
    text-decoration: underline;
  }
  .intro-web {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-bottom: 20px;

    &:hover {
      text-decoration: underline;
    }
  }

  .s1 b {
    text-transform: uppercase;
  }

  .icon {
    text-align: center;
  }
  .icon svg {
    width: 70px;
    height: 70px;
  }
}
