.partitions-page {
  .main-section {
    background: url("../../images/partitions/background.png") repeat,
      linear-gradient(143deg, rgba(26, 30, 31, 1) 57%, rgba(181, 134, 87, 1) 100%);

    min-height: 100vh;
    color: white;

    .section-container {
      max-width: 1200px;
      margin: auto;

      h1 {
        padding: 40px 0 30px 0;
      }

      div.top-els {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        input.download {
          border: none;
          color: white;
          padding: 10px 24px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 12px;
          background-color: #008cba;
          transition-duration: 0.4s;
          cursor: pointer;

          &:hover:not(:disabled) {
            background-color: #005572;
          }

          &:disabled {
            cursor: auto;
            background-color: #949494;
          }
        }

        .search-container {
          display: flex;
          flex-direction: row;

          input[type="text"] {
            padding: 6px;
            border: none;
            height: 30px;
            border-radius: 5px 0 0 5px;
          }

          .icon {
            background: #ddd;
            border: none;
            height: 30px;
            width: 30px;
            padding: 8px;
            border-radius: 0 5px 5px 0;
          }
        }
      }

      div.top-els-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .sort-container {
          span[role="button"] {
            padding: 0 7px 0;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
          .active {
            font-weight: bold;
          }
        }
      }

      .select-all {
        padding: 15px 0;
      }

      #partitions {
        .partition {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;
          position: relative;

          .main-checkbox {
            padding: 5px 15px;
            margin: 1px 0;
            animation: 80ms closeRow linear;
            animation-fill-mode: forwards;
          }

          .main {
            margin: 1px 0;
            font-weight: 100;
            flex: 1;
            animation: 80ms closeRow linear;
            animation-fill-mode: forwards;

            padding-left: 20px;
            padding-right: 10px;

            &:nth-child(even) {
              background-color: rgba(255, 255, 255, 0.05);
            }

            &:nth-child(odd) {
              background-color: rgba(255, 255, 255, 0.025);
            }

            display: flex;
            flex-direction: column;

            .row {
              display: flex;
              flex-direction: row;
              align-items: center;

              cursor: pointer;

              .bni {
                width: 20px;
              }

              .title {
                padding: 0 0 0 20px;
                flex: 1;
              }

              svg.arrow {
                width: 15px;
                margin: 0 5px;
                animation: rotateUp 300ms ease-out;
                animation-fill-mode: forwards;
                fill: #fff;
              }

              @keyframes rotateUp {
                from {
                  transform: rotate(180deg);
                }

                to {
                  transform: rotate(0deg);
                }
              }

              @keyframes closeRow {
                from {
                  padding-top: 20px;
                  padding-bottom: 20px;
                }

                to {
                  padding-top: 10px;
                  padding-bottom: 10px;
                }
              }

              @keyframes closeCheckbox {
                from {
                  margin-top: 16px;
                }

                to {
                  margin-top: 6px;
                }
              }
            }

            .extra {
              display: none;
              padding: 20px 20px 0 20px;

              .notes {
                font-size: 0.8em;
                padding: 20px 0 0 0;

                & > p:nth-child(1) {
                  font-weight: bold;
                  padding: 0 0 5px 0;
                }
              }

              .files {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: flex-start;

                .file {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;

                  margin: 4px;

                  a {
                    color: rgb(116, 113, 255);
                    font-size: 0.9em;
                    padding: 4px 10px;
                    display: inline-block;

                    &:hover {
                      text-decoration: underline;
                    }
                  }

                  button {
                    background: rgb(179, 179, 179);
                    background: linear-gradient(0deg, rgba(179, 179, 179, 1) 0%, rgba(255, 255, 255, 1) 100%);
                    color: #000;
                    border: none;
                    margin: 0 0 0 10px;
                    padding: 4px 10px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    cursor: pointer;
                    border-radius: 2px;
                    font-size: 0.9em;

                    &:hover {
                      background: rgb(144, 144, 144);
                      background: linear-gradient(0deg, rgba(144, 144, 144, 1) 0%, rgba(213, 213, 213, 1) 100%);
                    }
                  }
                }
              }
            }

            &:hover .row .title {
              font-weight: bold;
            }
          }

          &.active {
            .main-checkbox {
              animation: openCheckbox 80ms linear;
              animation-fill-mode: forwards;
            }

            .main {
              animation: openRow 80ms linear;
              animation-fill-mode: forwards;

              .row {
                .title {
                  font-weight: bold;
                }
              }

              .extra {
                display: block;
              }

              svg.arrow {
                animation: rotateDown 300ms ease-out;
                animation-fill-mode: forwards;
              }
            }

            @keyframes rotateDown {
              from {
                transform: rotate(0deg);
              }

              to {
                transform: rotate(180deg);
              }
            }

            @keyframes openRow {
              from {
                padding-top: 10px;
                padding-bottom: 10px;
              }

              to {
                padding-top: 20px;
                padding-bottom: 20px;
              }
            }

            @keyframes openCheckbox {
              from {
                margin-top: 6px;
              }
              to {
                margin-top: 16px;
              }
            }
          }
        }
      }
    }
  }
}
