#scrollbar {
	background: #875B45; /* TO CHANGE */
	bottom: 0;
	left: 0;
	position: fixed;
	top: 0;
	width: 40px;
	z-index: 999;
}
  #scrollbar #scrollcursor {
  	background: #DC8854; /* TO CHANGE */
  	cursor: pointer;
  	height: 50px;
  	left: 0;
  	position: absolute;
  	width: 40px;
  	z-index: 1000;
  }
  #scrollbar #scrolllinks li {
  	background: #fff;
  	border-radius: 50%;
  	color: rgba(0,0,0,0.29);
  	height: 10px;
  	margin: 0 0 0 15px;
  	position: absolute;
  	width: 10px;
  	z-index: 1001;
  }
    #scrollbar #scrolllinks li a {
    	animation: .5s;
    	color: inherit;
    	left: 30px;
    	position: absolute;
    	top: -5px;
			font-weight: 300;
			color: #b8b725;
    }
    #scrollbar #scrolllinks li a:hover {
    	font-weight: 900;
    }
    #scrollbar #scrolllinks li.active a {
    	color: rgba(183, 180, 175, 0.85);
    	font-weight: 900;
    }
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
