.index {
  .activities {

    background-color: #CB2321;

    .container {
      padding: 40px 10px;
      color: white;
      max-width: var(--container-width);
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      h2 {
        text-align: right;
      }
    }
  }
}
