.index {
  .banner-index {
    h2 {
      font-size: 3.3em;
      font-family: "Bebas neue";
      text-align: center;
      text-transform: uppercase;
    }

    p {
      text-align: left;
      font-weight: bold;
      padding-left: 15%;
    }
  }
}
