.index {
  .notice {
    background-color: #ef9175;
    color: #fff;
    padding: 20px;

    .container {
      max-width: var(--container-width);
      margin: 0 auto;
      position: relative;

      h2 {
        font-family: "Bebas Neue", sans-serif;
      }

      p {
        padding: 0 0 0 20px;
        line-height: 1.3em;
      }
    }
  }
}