.index {
  .welcome {
    max-width: var(--container-width);
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    p {
      color: #fff;
      line-height: 1.2em;
      font-weight: 500;
    }

    .highlight {
      font-family: "Bebas Neue", sans-serif;
      font-size: 1.3em;
    }

    .left {
      flex: 1;
      text-align: center;

      .left-text {
        padding: 0 0 20px 0;

        h1 {
          font-family: "Bebas neue", sans-serif;
          letter-spacing: 0.03em;
          font-size: 3em;
          color: #fff;
        }

        p {
          font-size: 1.3em;
        }
      }

      h2 {
        color: white;
        padding: 10px 0;
        font-size: 2.5em;
      }

      .intro-module--left {
        margin: 40px;
      }

      .video-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    .right {
      flex: 1;
      flex-direction: row;
      justify-content: flex-end;
      text-align: right;

      h2 {
        color: white;
        font-family: "Bebas neue", sans-serif;
        letter-spacing: 0.02em;
        padding: 10px 0;
        font-size: 2.5em;
        text-align: center;
      }

      .map-container {
        position: relative;
        padding-bottom: 80%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .slogan {
    h2 {
      font-size: 3.3em;
      font-family: "Bebas neue";
      text-align: center;
      text-transform: uppercase;
    }

    p {
      text-align: left;
      font-weight: bold;
      padding-left: 15%;
    }
  }

  @media only screen and (max-width: 767px) {
    .intro {
      flex-direction: column;

      .right {
        .subinfo {
          font-size: 0.8em;
          padding: 10px 10px 20px 10px;
          text-align: center;
        }
      }
    }
  }
}
